<div class="logo">

<i class="fa-solid fa-microchip text-primary"></i>

<h3>

FGSHUSOFT

</h3>

<small>

Control Center

</small>

</div>

<hr>

<nav>

<a href="#" data-page="dashboard">

<i class="fa-solid fa-gauge-high"></i>

Dashboard

</a>

<a href="#" data-page="products">

<i class="fa-solid fa-box"></i>

Products

</a>

<a href="#" data-page="categories">

<i class="fa-solid fa-tags"></i>

Categories

</a>

<a href="#" data-page="orders">

<i class="fa-solid fa-cart-shopping"></i>

Orders

</a>

<a href="#" data-page="customers">

<i class="fa-solid fa-users"></i>

Customers

</a>

<a href="#" data-page="services">

<i class="fa-solid fa-screwdriver-wrench"></i>

Services

</a>

<a href="#" data-page="training">

<i class="fa-solid fa-graduation-cap"></i>

Training

</a>

<a href="#" data-page="projects">

<i class="fa-solid fa-robot"></i>

Projects

</a>

<a href="#" data-page="reports">

<i class="fa-solid fa-chart-line"></i>

Reports

</a>

<a href="#" data-page="settings">

<i class="fa-solid fa-gear"></i>

Settings

</a>

</nav>
